.form-control {
  background-color: black !important;
  color: lawngreen !important;
  font-family: monospace !important;
  font-size: 1.4em !important;
  line-height: 2em !important;
  min-height: 500px;
}
